<header>
    <div class="container">
        <div class="row justify-content-center">
            <nav>
                <ul class="row">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/pages/cart.html">Cart</a></li>
                    <li><a href="/pages/product.html">Product</a></li>
                    <li><a href="/pages/signup.html">Sign Up</a></li>
                    <li><a href="/pages/signin.html">Sign in</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>